.modal {
  background-color: rgb(19, 86, 209);
  /* background-color: rgba(0, 0, 0, 0.5); */
}
  
.modalBody,
.modalFooter,
.modalHeader {
  background: radial-gradient(
    circle,
    rgb(248, 232, 6) 0%,
    rgb(11, 194, 250) 100%
  );
}
  
.modalInput {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}