.homeContainer {
  padding: 30px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
  
.homeTitle {
  margin-left: auto;
  margin-right: auto;
  color: rgb(6, 58, 58);
  padding: 30px;
  font-size: 48px;
  text-transform: uppercase;
  transition: color 250ms linear;
}
.homeTitle:hover {
  color: rgb(223, 118, 32);
}
  
.homeText {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(17, 63, 75);
  font-size: 30px;
}
  
.homeLink {
  text-decoration: none;
  color: white;
  transition: color 250ms linear;
}

.homeLink:hover {
  color: rgb(223, 118, 32);
}